<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/css")

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/" + 
                                               ViewContext.RouteData.Values["controller"] + "/" + 
                                               ViewContext.RouteData.Values["Action"] + ".css")">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/fhconv")
    <script src="~/Scripts/common/common.js"></script>
</head>
<body>
    <div class="navbar">
        <ul class="nav-left" id="nav_menu">
            <li>
                @Html.ActionLink("メニュー", "Index", "Menu", null, new { @class = "menu_btn g_navi" })
            </li>
        </ul>
        <ul class="nav-left">
            <li><div id="db_msg"></div></li>
        </ul>

        <ul class="nav-right">

            <li class="dropdown">
                <a href="#" class="g_navi">
                    <i class="icon-user icon-white"></i>ユーザー<span class="caret"></span>
                </a>
                <dl class="dropdown-menu">
                    <li><a href="index.php" class="g_navi ">ログアウト</a></li>
                </dl>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="@Url.Content("~/Scripts/" +
        ViewContext.RouteData.Values["controller"] + "/" +
        ViewContext.RouteData.Values["action"] +  ".js")"></script>
        @RenderSection("scripts", required: false)
</body>
</html>