@model IEnumerable<websample.Models.users>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>    
    </thead>
    <tbody></tbody>

</table>

<button class="toolbtn btn_green" id="add"><i class="icon-plus icon-white"></i>追加する</button>

<div id="edit_dlg" title="" style="display:none">
    <p class="summary">入力してください</p>
    <table>
        <tr>
            <td class="td-r">名前</td>
            <td><input type="text" id="name" maxlength="30"></td>
        </tr>
        <tr>
            <td class="td-r">カナ</td>
            <td><input type="text" id="kana" maxlength="30"></td>
        </tr>
        <tr>
            <td class="td-r">電話</td>
            <td><input type="text" id="tel" maxlength="100"></td>
        </tr>
        <tr>
            <td class="td-r">パスワード</td>
            <td><input type="text" id="password" maxlength="100"></td>
        </tr>
    </table>
</div>

@section scripts {


}
