
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ログイン</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/custom/css")

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/" +
                                               ViewContext.RouteData.Values["controller"] + "/" +
                                               ViewContext.RouteData.Values["Action"] + ".css")">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script src="~/Scripts/common/common.js"></script>

</head>
<body>
    @using (Html.BeginForm("Index", "Login", new {  }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
        <table>
            <tr>
                <th>ログインID</th>
                <td><input type="text" name="loginid" /></td>
            </tr>
            <tr>
                <th>パスワード</th>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <th>test</th>
                <td><input type="password" name="password" id="yearmonth"/></td>
            </tr>
        </table>
        <div>

            <input type="submit" value="Log in" class="btn btn-default menu-btn" /><br />
            <span id="msg">@ViewBag.msg</span>
        </div>
    }






    <script src="@Url.Content("~/Scripts/" +
        ViewContext.RouteData.Values["controller"] + "/" +
        ViewContext.RouteData.Values["action"] +  ".js")"></script>
</body>
</html>
