
@{
}

<h2>Index</h2>

<table>
    <tr>
        <td>
            @Html.ActionLink("フォーム入力その１", "test1", "Form", null, new { @class = "menu-btn" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("ユーザー登録", "index", "users", null, new { @class = "menu-btn" })
        </td>
    </tr>
    <tr>
        <td>
            <button id="test1">テスト１</button>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("PDF", "index", "pdf", null, new { @class = "menu-btn" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBox("yearmonth", "", new {@class="ym"})
        </td>
        <td>
            @Html.TextBox("yearmonth", "", new { @class = "ym"})
        </td>
    </tr>
</table>

<div id="dlg_test">
    @Html.TextBox("yearmonth", "", new { @class = "ym" })

</div>

<div id="dlg_test2">
    @Html.TextBox("yearmonth", "", new { @class = "ym" })

</div>